<div class="container content-section">
    <h2 class="header-section">REGISTRATION FORM(INTERNATIONAL DELEGATES)</h2>
    <span class="header-text">Please complete the form below:</span>
    <h2 class="header-deadline">Deadline for registration: 15 September 2017</h2>


    <script type="text/javascript">var submitted = false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;)"></iframe>

    <form id="form-content" name="" action="https://docs.google.com/forms/d/e/1FAIpQLScznPoVZ9dgVGRVgg4bzkU0Jb45lwvnpX3kOAGqPj6VVULRqQ/formResponse" class="form-content clearfix" target="hidden_iframe" method="POST">
        <div class="info-container clearfix">
            <div class="form-item radio clearfix col-md-12">
                <h2 class="form-header">PERSONAL INFORMATION</h2>
                <span class="content-title stylized-header">Title</span>
                <label class="radio-inline">
                    <input class="radioTitle" type="radio" name="titleRadio" value="Prof" required>Prof.
                </label>
                <label class="radio-inline">
                    <input class="radioTitle" type="radio" name="titleRadio" value="Dr">Dr.
                </label>
                <label class="radio-inline">
                    <input class="radioTitle" type="radio" name="titleRadio" value="Mr">Mr.
                </label>
                <label class="radio-inline">
                    <input class="radioTitle" type="radio" name="titleRadio" value="Mrs">Mrs.
                </label>
                <label class="radio-inline">
                    <input class="radioTitle" type="radio" name="titleRadio" value="Ms">Ms.
                </label>
                <input class="hidden radioListValue" name="entry.719120494" id="entry.719120494" value="">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Family Name</span>
                <input class="content-input content-input-animation form-control" name="entry.2015270098" id="entry.2015270098" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">First Name</span>
                <input class="content-input content-input-animation form-control" name="entry.1548922201" id="entry.1548922201" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Position/Job Title</span>
                <input class="content-input content-input-animation  form-control" name="entry.424203455" id="entry.424203455" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Company</span>
                <input class="content-input content-input-animation  form-control" name="entry.896413170" id="entry.896413170" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Address</span>
                <input class="content-input content-input-animation  form-control" name="entry.2132126832" id="entry.2132126832" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">City/State</span>
                <input class="content-input content-input-animation  form-control" name="entry.169300204" id="entry.169300204" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Postal Code</span>
                <input class="content-input content-input-animation  form-control" name="entry.1541732546" id="entry.1541732546" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false" r>
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Country</span>
                <input class="content-input content-input-animation form-control" name="entry.1438071820" id="entry.1438071820" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Telephone</span>
                <input class="content-input content-input-animation form-control" name="entry.975228424" id="entry.975228424" autocomplete="off"  type="number" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix col-md-6">
                <span class="content-title content-label-animation stylized-header">Mobile Phone</span>
                <input class="content-input content-input-animation form-control" name="entry.1633386272" id="entry.1633386272" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix  col-md-6">
                <span class="content-title content-label-animation stylized-header">Fax</span>
                <input class="content-input content-input-animation form-control" name="entry.1760904086" id="entry.1760904086" autocomplete="off"  type="number" value="" aria-required="true" aria-invalid="false">
            </div>

            <div class="form-item clearfix  col-md-6">
                <span class="content-title content-label-animation stylized-header">Email</span>
                <input class="content-input content-input-animation form-control" name="entry.283277746" id="entry.283277746" autocomplete="off" required type="email" value="" aria-required="true" aria-invalid="false">
            </div>
        </div>

        <div class="registration-container clearfix radioListGroup">
            <div class="col-md-12 delegate-choice-container">
                <h4 class="form-header">Delegate</h4>
                <label class="radio-inline">
                    <input class="delegateRadio" type="radio" name="entry.651229178" checked="checked" value="International" required>International Delegate
                </label>
                <label class="radio-inline">
                    <input class="delegateRadio" type="radio" name="entry.651229178" value="Complimentary">Complimentary Delegate
                </label>
                <!--<input class="hidden radioListValue" id="entry.651229178" name="entry.651229178" value="">-->
            </div>

            <hr class="hr col-md-12 clearfix"/>
            <div id="formChoiceComplimentary" class="formChoice form-item officer clearfix col-md-6" style="display: none">
                <h2 class="form-header">REGISTRATION CATEGORY</h2>
                <span class="content-title stylized-header">Complimentary Delegate(Applies only to AOTCA officers or Representative of member body</span>
                <select  id="entry.805758344" name="entry.805758344" class="menu-select form-control" aria-required="true" aria-invalid="false">
                    <option value="President">President</option>
                    <option value="Advisor">Advisor</option>
                    <option value="Deputy President">Deputy President</option>
                    <option value="Auditor">Auditor</option>
                    <option value="Honorary Advisor">Honorary Advisor</option>
                    <option value="Secretary General">Secretary General</option>
                    <option value="Treasurer">Treasurer</option>
                    <option value="Representative of member body">Representative of member body</option>
                </select>
            </div>

            <div class="delegate clearfix col-md-12">
                <div id="formChoiceInternational" class="formChoice form-item header-bottom clearfix">
                    <h2 class="form-header stylized-header">International Delegate at US$300</h2>
                    <p class="content-description">Please indicate your interest to attend the following functions.</p>
                </div>

                <div class="form-item delegate-dietary clearfix col-md-12">
                    <span class="content-title text-medium">Special Dietary</span>
                    <label class="radio-inline">
                        <input id="delegateDietary" class="delegateDietary" type="radio" name="delegateDietary" value="Vegetarian" required>Vegetarian
                    </label>
                    <label class="radio-inline">
                        <input class="delegateDietary" type="radio" name="delegateDietary" value="Halal">Halal
                    </label>
                    <input class="hidden radioListValue" name="entry.1208047512" id="entry.1208047512" value="">
                </div>

                <div class="form-item delegate-dinner clearfix col-md-12">
                    <span class="content-title text-medium">Gala Dinner(19 October)</span>
                    <label class="radio-inline">
                        <input id="delegateDinner" class="delegateDinner" type="radio" name="delegateDinner" value="Yes" required>Yes
                    </label>
                    <label class="radio-inline">
                        <input class="delegateDinner" type="radio" name="delegateDinner" value="No">No
                    </label>
                    <input class="hidden radioListValue" name="entry.209857959" id="entry.209857959" value="">
                </div>

                <div class="form-item delegate-tour clearfix col-md-12">
                    <span class="content-title text-medium">City Tour (20 October, morning)</span>
                    <label class="radio-inline">
                        <input id="delegateTour" class="delegateTour" type="radio" name="delegateTour" value="Yes" required>Yes
                    </label>
                    <label class="radio-inline">
                        <input class="delegateTour" type="radio" name="delegateTour" value="No">No
                    </label>
                    <input class="hidden radioListValue" name="entry.1612703363" id="entry.1612703363" value="">
                </div>
            </div>

        </div>
        <hr class="hr col-md-12 clearfix"/>

        <div class="col-md-12 accompanying-container clearfix">
            <h4 class="form-header">Are you going to be accompanied by someone?</h4>
            <label class="radio-inline">
                <input class="accompanyRadio" type="radio" name="accompanyRadio" value="1" required>Yes
            </label>
            <label class="radio-inline">
                <input class="accompanyRadio" type="radio" name="accompanyRadio" value="2" checked="checked" >No
            </label>
        </div>

        <div id="additionalContainer1" class="additional-person-container radioChoice" style="display: none">
            <div class="form-item header-bottom clearfix col-md-12">
                <h2 class="form-header stylized-header">Accompanying Person at US$200</h2>
                <p class="content-description">Please indicate your interest to attend the following functions.</p>
            </div>
            <div class="additional-person-list col-md-12 no-gutter">
                <div class="form-item clearfix col-md-6">
                    <span class="content-title text-medium">How many will accompany you?</span>
                    <br/>
                    <div class="col-md-2 clearfix no-gutter">
                        <select  id="entry.350075210" name="entry.350075210" class="menu-select form-control" aria-required="true" aria-invalid="false">
                            <option class="menu-choice" name="entry.350075210" value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="additional-person-list col-md-12 no-gutter">
                <div class="form-item clearfix col-md-6">
                    <span class="content-title text-medium">Name/Gala Dinner/Dietary/City Tour</span>
                    <textarea class="content-input form-control" placeholder="John Doe/Yes/Halal/No" name="entry.902056822" id="entry.902056822" autocomplete="off" type="text" value="" aria-invalid="false"></textarea>
                </div>
            </div>

        </div>

        <hr class="hr col-md-12 clearfix"/>

        <div class="form-item letter-invitation clearfix col-md-12">
            <h2 class="form-header stylized-header">Letter of Invitation</h2>
            <p class="form-description">On request, the AOTCA 2017 Conference Secretariat will send a letter of invitation to participant to attend the Conference.  Such an invitation is extended specially to assist participants to obtain appropriate visa, approvals, sponsorship or leave.  The letter will be issued only after the payment of registration fee has been received.  It does not imply a commitment on the part of the Organizer to provide any support, financial or otherwise. </p>
            <br/>
            <div class="col-md-12 clearfix">
                <label class="radio">
                    <input class="letterInvitation" type="radio" name="entry.193270809" value="Send Invitation via Email" required>Please send me a letter of invitation by e-mail.
                </label>

                <label class="radio">
                    <input class="letterInvitation" type="radio" name="entry.193270809" value="Send Invitation via Courier">Please send me a letter of invitation by courier (please add US$20 to the registration fee to cover courier charges)
                </label>
            </div>
        </div>

        <hr class="hr col-md-12 clearfix"/>

        <div class="bank-detail">
            <div class="col-md-12 payment-radio clearfix" >
                <h4 class="form-header text-medium">Payment Method</h4>
                <label class="radio-inline">
                    <input class="paymentRadio" type="radio" name="entry.1146092643" value="bank-deposit" checked="checked" required>International Bank Transfer
                </label>
                <label class="radio-inline">
                    <input class="paymentRadio" type="radio" name="entry.1146092643" value="paypal-payment">Paypal Payment
                </label>
            </div>

            <div id="paypal-payment" class="payment-choice col-md-12" style="display: none">
                <h4 class="text-medium">Paypal Payment(additional $15.00)</h4>
                <table style="float: left;" border="0" cellpadding="10" cellspacing="0" align="center">
                    <tr>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="#" id="paypalButton" title="How PayPal Works">
                                <img src="https://www.paypalobjects.com/webstatic/en_AU/i/buttons/btn_paywith_primary_l.png" alt="Pay with PayPal" />
                            </a>
                        </td>
                    </tr>
                </table><!-- PayPal Logo -->
            </div>

            <div id="bank-deposit" class="payment-choice col-md-12">
                <h4 class="text-medium">International Bank Transfer(additional $8.00)</h4>
                <table class="table table-bordered table-content">
                    <tbody>
                    <tr>
                        <th>BANK NAME:</th>
                        <td>Philippine National Bank</td>
                    </tr>
                    <tr>
                        <th>ACCOUNT NAME:</th>
                        <td>TAX MANAGEMENT ASSOCIATION OF THE PHILIPPINES</td>
                    </tr>
                    <tr>
                        <th>SAVINGS ACCT #:</th>
                        <td>141460000536</td>
                    </tr>
                    <tr>
                        <th>SWIFT CODE:</th>
                        <td>PNBMPHMM</td>
                    </tr>
                    <tr>
                        <th>BANK BRANCH AND ADDRESS</th>
                        <td>Philippine National Bank San Lorenzo - Arnaiz Branch 1012 a. Arnaiz Ave Makati City</td>
                    </tr>
                    </tbody>
                </table>
                <p class="description">A copy of the bank remittance receipt should be sent to AOTCA 2017 Secretariat by email (registration@aotca2017manila.com) once the bank transfer is arranged.</p>
                <p class="description">All outbound bank charges for remittance should be borne by the remitter and cannot be deducted from the fee.  Please ensure and give instructions to your bank to this effect.  If charges are deducted and the payment received by the Organizer does not cover the total registration fees, the difference will have to be reimbursed to the Organizer on arrival at the Conference.
                </p>
            </div>
        </div>

        <hr class="hr col-md-12 clearfix"/>
        <div class="terms-container">
            <h4 class="text-medium">TERMS AND CONDITIONS</h4>
            <ol>
                <li>Registration is subject to acceptance on a first-come-first-served basis.</li>
                <li>Registration can only be processed with full payment, by bank transfer only.  Please DO NOT send cash.</li>
                <li>Confirmation will be sent by email upon receipt of your registration form and full payment. If you are not able to receive the confirmation within two weeks, please contact the AOTCA 2017 Conference Secretariat.</li>
                <li>Refund for cancellation of registration will be made and subject to the following deadline and administration charge. All cancellations must be made in writing to the AOTCA 2017 Conference Secretariat and the refund will be made after the Conference. For cancellation requests received on or before 22 September 2017, 50% of the registration fee will be refunded. Thereafter, no refunds shall be made.</li>
                <li>A replacement or transfer is allowed, provided that the replacement is from the same organization and upon receipt of a written request from the person to be replaced. Please note that substitution is permitted on the basis that written notice is received on or before 22 September 2017.</li>
                <li>The program is subject to change without prior notice. In the unlikely event of cancellation of the Conference, the only liability of the Organizer is to refund the registration fee.</li>
            </ol>

        </div>

        <hr class="hr col-md-12 clearfix"/>

        <div class="form-item  clearfix col-md-12">
            <h2 class="form-header stylized-header">PAYMENT DECLARATION</h2>
            <p class="form-description">I hereby agree to be bound by the rules and regulations of the Conference and would like to settle the payment of</p>
            <input id="totalDeclaration" readonly class="content-input declaration form-control" placeholder="Amount to be paid" name="entry.2019220793" id="entry.2019220793" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
            <br/> Amount includes inbound bank fee of US$8.
        </div>

        <div class="content-button-container col-md-12">
            <button data-toggle="modal" type="submit" id="ss-submit" class="submit-button stylized-header">SUBMIT YOUR REGISTRATION</button>
        </div>
    </form>

    <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" hidden target="_blank">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="aotca2017@gmail.com">
        <input type="hidden" name="item_name_1" value="AOTCA2017Manila">
        <input type="hidden" name="amount_1" value="">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


</div>
